<nav class="nav" style="padding: 2%">
    <a class="navbar-brand fs-4 text-dark" style="margin-left: 2vw; font-weight: bold" routerLink="/home">Travel Agency</a
  >
  <a class="nav-link active text-dark" aria-current="page" routerLink="/home"
    >Home</a
  >
  <a class="nav-link active text-dark" aria-current="page" routerLink="/blog"
    >Blog</a
  >
  <a class="nav-link active text-dark" aria-current="page" routerLink="/"
    >Travel</a
  >
  <div class="btn">
    <i
      class="fas fa-shopping-basket btn btn-success fs-2"
      type="submit"
      routerLink="/cart"
    ></i>
  </div>
</nav>