h5 {
    text-decoration: none;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 10px;
    position: relative;
}

.button {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.dtl {
    width: 30%;
    height: 45px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}