<div class="container bgd w-75">
    <h2 style="margin-top: 15vh; text-align: center; color: black">Blog</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, minus? Impedit, reiciendis officia sed laborum nulla quo earum incidunt quia aperiam quod deserunt tempora cumque nobis corrupti, modi nostrum ducimus? Molestiae accusantium dignissimos
        amet ullam eaque? Suscipit possimus sit ipsam optio harum ipsa accusamus quisquam veniam cumque dicta. Earum, beatae. Dolore totam numquam nisi, vitae non modi eveniet, optio aut recusandae nostrum aliquam porro error facilis adipisci voluptatibus
        mollitia quis voluptates reprehenderit quibusdam tempore, et vero? Corrupti illo quos inventore delectus quo, labore facilis a, neque aut sapiente nulla ad ipsum cum! Autem perspiciatis explicabo quis enim consequuntur corporis ad culpa cupiditate,
        recusandae eos veritatis adipisci atque sint modi voluptates obcaecati aliquam deserunt quos sit cum quibusdam? Quos numquam vitae, necessitatibus ea dolore quas vero illum accusamus, soluta nulla excepturi id eius eveniet. Nihil unde deserunt,
        autem hic placeat magni! Expedita debitis delectus atque nemo ratione perferendis pariatur laboriosam facere.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laboriosam nemo eum minima obcaecati officiis voluptatum enim quos dicta quae?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam voluptatem doloribus assumenda? Sed id incidunt culpa hic exercitationem. Nam nemo consectetur, ex repellendus iure officiis quasi excepturi, odit quis ab quaerat reiciendis praesentium. Eius
        temporibus nesciunt odit perspiciatis quod dolorum animi tenetur, itaque quae molestias. Labore dolore ipsa deleniti porro!
    </p>
</div>