<h2 style="margin-top: 15vh; text-align: center; color: black">
    Travel Details
</h2>

<div class="detail" *ngIf="detail">
    <img src="{{ detail.image }}" class="card-img-top" style="height: 270px" alt="" />
    <h3>Destination: {{ detail.destination }}</h3>
    <p>Description: {{ detail.description }}</p>
    <h4>Start Date: {{ detail.startDate }}</h4>
    <p>Duration: {{ detail.duration }}</p>
    <p>Price: {{ detail.price }}€</p>

    <!-- Button with fontawesome but it not working in Mobile phones -->
    <!-- <i class="fab fa-amazon-pay fs-1 btn-success dtl" (click)="addToCart(detail)"></i> -->
    <button class="btn btn-success" (click)="addToCart(detail)">Buy Now</button>
</div>